```
# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# See options available at https://github.com/google/nsjail/blob/master/config.proto

name: "sheratan-nsjail-configuration"
description: "sheratan nsjail configuration"

mode: ONCE
log_level: ERROR
clone_newnet: true
no_pivotroot: true
uidmap {inside_id: "33"}
gidmap {inside_id: "33"}
rlimit_as_type: HARD
rlimit_nofile_type: HARD
rlimit_nproc_type: HARD
rlimit_cpu_type: INF
time_limit: 3600
rlimit_fsize: 20 # in MB
skip_setsid: true

mount: [
  {
    src: "/chroot"
    dst: "/"
    is_bind: true
  },
  {
    dst: "/tmp"
    fstype: "tmpfs"
    rw: true
  },
  {
    dst: "/run"
    fstype: "tmpfs"
    rw: true
  },
  {
    dst: "/dev"
    fstype: "devtmpfs"
    rw: true
  },
  {
    src: "/dev/vdc"
    dst: "/dev/flag"
    is_bind: true
  },
  {
    dst: "/proc"
    fstype: "proc"
    rw: true
  },
  {
    src: "/dev/null"
    dst: "/dev/null"
    is_bind: true
    rw: true
  },
  {
    src: "/dev/zero"
    dst: "/dev/zero"
    is_bind: true
    rw: true
  },
  {
    src: "/dev/urandom"
    dst: "/dev/urandom"
    is_bind: true
    rw: true
  },
  {
    src: "/dev/random"
    dst: "/dev/random"
    is_bind: true
    rw: true
  },
  {
    src: "/dev/full"
    dst: "/dev/full"
    is_bind: true
    rw: true
  }
]

macvlan_iface: "eth0"
macvlan_vs_ip: "10.0.2.16"
macvlan_vs_nm: "255.255.255.0"
macvlan_vs_gw: "10.0.2.2"
```
