body{
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro Variable";
  font-size: 14px;
  color: #EAFFE5;
  background: #181818;
}
#terminal{
  position: absolute;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  padding: 5px;
}
.xterm-viewport::-webkit-scrollbar {  
  display: none;
}
.xterm-viewport{
  scrollbar-width: none;
}
